
.blue{
    background-color: blue;
}

.grey {
    background-color: gray;
}

.cyan{
    background-color: cyan;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.brown{
    background-color: brown;
}